<h1>Listing docs</h1>

<table>
  <tr>
    <th>Doc</th>
    <th>Real doc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @docs.each do |doc| %>
  <tr>
    <td><%= doc.doc_id %></td>
    <td><%= doc.real_doc_id %></td>
    <td><%= link_to 'Show', doc %></td>
    <td><%= link_to 'Edit', edit_doc_path(doc) %></td>
    <td><%= link_to 'Destroy', doc, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Doc', new_doc_path %>
