<p id="notice"><%= notice %></p>

<p>
  <b>Doc:</b>
  <%= @doc.doc_id %>
</p>

<p>
  <b>Real doc:</b>
  <%= @doc.real_doc_id %>
</p>


<%= link_to 'Edit', edit_doc_path(@doc) %> |
<%= link_to 'Back', docs_path %>
