<h1>Listing stories</h1>

<table>
  <tr>
    <th>Topic</th>
    <th>Title</th>
    <th>Source</th>
    <th>Date</th>
    <th>Link</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stories.each do |story| %>
  <tr>
    <td><%= story.topic %></td>
    <td><%= story.title %></td>
    <td><%= story.source %></td>
    <td><%= story.date_time %></td>
    <td><%= story.link %></td>
    <td><%= story.content %></td>
    <td><%= link_to 'Show', story %></td>
    <td><%= link_to 'Edit', edit_story_path(story) %></td>
    <td><%= link_to 'Destroy', story, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Story', new_story_path %>
