<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @story.title %>
</p>

<p>
  <b>Title:</b>
  <%= @story.topic %>
</p>

<p>
  <b>Title:</b>
  <%= @story.source %>
</p>

<p>
  <b>Link:</b>
  <%= @story.link %>
</p>

<p>
  <b>Content:</b>
  <%= @story.content %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
