<%= form_for(@euribor) do |f| %>
  <% if @euribor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@euribor.errors.count, "error") %> prohibited this euribor from being saved:</h2>

      <ul>
      <% @euribor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :w1 %><br />
    <%= f.text_field :w1 %>
  </div>
  <div class="field">
    <%= f.label :w2 %><br />
    <%= f.text_field :w2 %>
  </div>
  <div class="field">
    <%= f.label :w3 %><br />
    <%= f.text_field :w3 %>
  </div>
  <div class="field">
    <%= f.label :m1 %><br />
    <%= f.text_field :m1 %>
  </div>
  <div class="field">
    <%= f.label :m2 %><br />
    <%= f.text_field :m2 %>
  </div>
  <div class="field">
    <%= f.label :m3 %><br />
    <%= f.text_field :m3 %>
  </div>
  <div class="field">
    <%= f.label :m4 %><br />
    <%= f.text_field :m4 %>
  </div>
  <div class="field">
    <%= f.label :m5 %><br />
    <%= f.text_field :m5 %>
  </div>
  <div class="field">
    <%= f.label :m6 %><br />
    <%= f.text_field :m6 %>
  </div>
  <div class="field">
    <%= f.label :m7 %><br />
    <%= f.text_field :m7 %>
  </div>
  <div class="field">
    <%= f.label :m8 %><br />
    <%= f.text_field :m8 %>
  </div>
  <div class="field">
    <%= f.label :m9 %><br />
    <%= f.text_field :m9 %>
  </div>
  <div class="field">
    <%= f.label :m10 %><br />
    <%= f.text_field :m10 %>
  </div>
  <div class="field">
    <%= f.label :m11 %><br />
    <%= f.text_field :m11 %>
  </div>
  <div class="field">
    <%= f.label :m12 %><br />
    <%= f.text_field :m12 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
