<h1>Listing euribors</h1>

<table>
  <tr>
    <th>Date</th>
    <th>W1</th>
    <th>W2</th>
    <th>W3</th>
    <th>M1</th>
    <th>M2</th>
    <th>M3</th>
    <th>M4</th>
    <th>M5</th>
    <th>M6</th>
    <th>M7</th>
    <th>M8</th>
    <th>M9</th>
    <th>M10</th>
    <th>M11</th>
    <th>M12</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @euribors.each do |euribor| %>
  <tr>
    <td><%= euribor.date %></td>
    <td><%= euribor.w1 %></td>
    <td><%= euribor.w2 %></td>
    <td><%= euribor.w3 %></td>
    <td><%= euribor.m1 %></td>
    <td><%= euribor.m2 %></td>
    <td><%= euribor.m3 %></td>
    <td><%= euribor.m4 %></td>
    <td><%= euribor.m5 %></td>
    <td><%= euribor.m6 %></td>
    <td><%= euribor.m7 %></td>
    <td><%= euribor.m8 %></td>
    <td><%= euribor.m9 %></td>
    <td><%= euribor.m10 %></td>
    <td><%= euribor.m11 %></td>
    <td><%= euribor.m12 %></td>
    <td><%= link_to 'Show', euribor %></td>
    <td><%= link_to 'Edit', edit_euribor_path(euribor) %></td>
    <td><%= link_to 'Destroy', euribor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Euribor', new_euribor_path %>
