<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @euribor.date %>
</p>

<p>
  <b>W1:</b>
  <%= @euribor.w1 %>
</p>

<p>
  <b>W2:</b>
  <%= @euribor.w2 %>
</p>

<p>
  <b>W3:</b>
  <%= @euribor.w3 %>
</p>

<p>
  <b>M1:</b>
  <%= @euribor.m1 %>
</p>

<p>
  <b>M2:</b>
  <%= @euribor.m2 %>
</p>

<p>
  <b>M3:</b>
  <%= @euribor.m3 %>
</p>

<p>
  <b>M4:</b>
  <%= @euribor.m4 %>
</p>

<p>
  <b>M5:</b>
  <%= @euribor.m5 %>
</p>

<p>
  <b>M6:</b>
  <%= @euribor.m6 %>
</p>

<p>
  <b>M7:</b>
  <%= @euribor.m7 %>
</p>

<p>
  <b>M8:</b>
  <%= @euribor.m8 %>
</p>

<p>
  <b>M9:</b>
  <%= @euribor.m9 %>
</p>

<p>
  <b>M10:</b>
  <%= @euribor.m10 %>
</p>

<p>
  <b>M11:</b>
  <%= @euribor.m11 %>
</p>

<p>
  <b>M12:</b>
  <%= @euribor.m12 %>
</p>


<%= link_to 'Edit', edit_euribor_path(@euribor) %> |
<%= link_to 'Back', euribors_path %>
