<!DOCTYPE html>
<html>
<head>
  <title>Rssget</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application_js" %> 
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
